<div id="<%= dom_id friend %>">
  <!--
  <p>
    <strong>First name:</strong>
    <%= friend.First_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.Last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>
-->

 <table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
        
        <th><strong>First name:</strong></th>
        <th><strong>Last name:</strong></th>
        <th><strong>Email:</strong></th>
        <th><strong>Phone:</strong></th>
        <th><strong>Twitter:</strong></th>
        <th colspan="3"></th>
    

<tbody>
      
        <tr>
          <td><%= friend.First_name %></td>
          <td><%= friend.Last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
                  <th colspan="3"></th>

          
          
          
        </tr>
        
    </tbody>
  </table>

</div>
